@import "compass";

$small: 320px;
$medium: 640px;
$large: 1240px;

/* HEADER VARIABLE */

$banner-height-medium: 300px;
$banner-height-large: 500px;
$transition-duration-header: 0.25s;

/* HEADER VARIABLE */